<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Forbidden Island</title>
    <!-- 全局变量 & 通用样式 -->
    <link rel="stylesheet" href="../css/styles/variables-light.css" media="(prefers-color-scheme: light)">
    <link rel="stylesheet" href="../css/styles/variables-dark.css" media="(prefers-color-scheme: dark)">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/pages/cover.css">
    <link rel="stylesheet" href="../css/pages/lobby.css">
    <link rel="stylesheet" href="../css/pages/creation.css">
    <link rel="stylesheet" href="../css/pages/room.css">
</head>
<body>
<div class="blur-bar"></div>
<div id="app"></div>

<script src="../js/index.js"></script>
<script src="../js/ui-plugins.js"></script>
</body>
</html>
